//color
$pink2: #f1a7d0;
$pink3: #9c6885;
//button
$button__background: $pink2;
//secondary
$button__background--secondary: $pink2;
$button__border--secondary: 2px solid $pink3;
//footer
$footer__scroll-top-bg: $pink2;
